<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beacon</title>
    {{!-- Bootstrap Core 4.3.1 --}}
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
      {{!-- Font Awesome 4.7.0--}}
    <script src="https://use.fontawesome.com/e5494329c1.js"></script>
    {{!-- Custom CSS --}}
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no
      title" charset="utf-8">
      {{!-- jQuery 3.2.1 --}}
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      {{!-- Additional Bootstrap Javascript --}}
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
      
  </head>
  <body class="h-100 d-flex flex-column">
    {{{body}}}
    <script src="/js/index.js"></script>
  </body>
</html>
