<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beacon</title>
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no
      title" charset="utf-8">
  </head>
  <body>
    {{#if currentUser}}
    <a href="/profile/{{currentUser.id}}">{{currentUser.displayName}}</a>
    <a href="/logout">Logout</a>
    {{/if}}
    {{{body}}}
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/signup.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/newBeacon.js"></script>
  </body>
</html>
