{{> header}}

{{!-- In progress, probably not going to go with this --}}

{{!-- <body
  {{!-- background="https://i.imgur.com/HhBrAi9.jpg" --}}
  style="background-color:whitesmoke;background-size:cover"> --}}
  <div class="container h-100" id="pageNotFound">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-sm-6">
        <img style="width:100%"
          src="https://blog.thomasnet.com/hs-fs/hubfs/shutterstock_774749455.jpg?width=1200&name=shutterstock_774749455.jpg">
        <a
          style="background-color:whitesmoke;position:relative;right:0;bottom:10%"
          href="/">← Go Home</a>
      </div>
    </div>
  </div>
  {{!-- </body> --}}

{{> footer}}