<h1>Beacon Details</h1>

<p>Beacon User Name</p>
<p>Beacon Title</p>
<p>Beacon Category</p>
<p>Beacon Description</p>
<p>Beacon Address</p>
<p>Beacon Start Time</p>
<p>Beacon End Time</p>
<p>Beacon Date</p>
<p>Comment User Name</p>
<p>Comment Body</p>