<div class="container h-100 d-flex align-items-center">
  {{!-- Set logo here when complete!! --}}
  <div class="col-sm-12 text-center">
    <h1>Welcome to Beacon!</h1>
    <img src="/images/beak-color-lit.png" alt="Logo" width="200px" height="50%">
    <div class="landing-buttons mt-3">
      <a class="btn btn-lg btn-primary" href="/signup">Sign Up</a>
      <a class="btn btn-lg btn-primary" href="/login">Login</a>
    </div>
  </div>
</div>