<div class="container h-100 d-flex align-items-center">
  <form id="form-login">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Login" id="btn-login">
  </form>
</div>