<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12" style="">
      <div style="text-align:center">
        <h3 class="mb-3">Enter Your Information Below to Get Started!</h3>
      </div>
      <div class="text-right d-flex justify-content-center">
        <form id="form-signup">
          <div class="mb-1">
            <label for="first-name" class="text-right">First Name:</label>
            <input class="form-input" type="text" name="first-name" id="first-name" required>
          </div>
          <div class="mb-1">
            <label for="last-name" class="text-right">Last Name:</label>
            <input class="form-input" type="text" name="last-name" id="last-name" required>
          </div>
          <div class="mb-1">
            <label for="mbti" class="text-right">MBTI:</label>
            <input class="form-input" type="text" name="mbti" id="mbti"required>
          </div>
          <small class="d-block mt-2 mb-3">If you aren't sure about your MBTI results, <a
              href="https://www.16personalities.com/enfp-personality" target="_blank">take
              this free quiz!</a></small>
          <div class="mb-1">
            <label for="email" class="text-right">Email:</label>
            <input class="form-input" type="email" name="email" id="email" required>
          </div>
          <div class="mb-1">
            <label for="password" class="text-right">Password:</label>
            <input class="form-input" type="password" name="password" id="password" required>
          </div>
          <div class="mb-1">
            <label for="confirm-password" class="text-right">Confirm Password:</label>
            <input class="form-input" type="password" name="confirm-password" id="confirm-password" required>
          </div>
          <div class="mt-3">
            <input type="submit" class="btn btn-primary btn-lg btn-block"
              value="Sign Up" id="btn-signup" style="">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>