<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-sm-6">
        <div style="text-align:center">
        <h4>Enter Your Information Below to Get Started!</h4></div>
        <br>
        <form id="form-signup">
          <label for="first-name">First Name:</label>
          <input type="text" name="first-name" id="first-name" style="position:absolute;width:70%;right:0" required>
          <br>
          <label for="last-name">Last Name:</label>
          <input type="text" name="last-name" id="last-name" style="position:absolute;width:70%;right:0" required>
          <br>
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" style="position:absolute;width:70%;right:0" required>
          <br>
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" style="position:absolute;width:70%;right:0" required>
          <br>
          <label for="confirm-password">Confirm Password:</label>
          <input type="password" name="confirm-password" id="confirm-password" style="position:absolute;width:70%;right:0" required>
          <br>
          <br>
          <input type="submit" value="Sign Up" id="btn-signup" style="position:absolute;right:0">
        </form>
    </div>
  </div>

<script src="/js/signup.js"></script>